@main("Welcome to Sigmoid") {
  <div layout="row" layout-margin layout-fill layout-padding>
    <md-content ng-view="" md-scroll-y="" flex="" layout-padding="" class="ng-scope md-default-theme">
    <section class="services-container md-whiteframe-z1">
      <md-toolbar class="demo-toolbar md-primary md-default-theme md-toolbar-radiance md-whiteframe-z1">
        <div class="md-toolbar-tools">
          <h3 class="ng-binding">SigView Services</h3>
          <span flex=""></span>
        </div>
      </md-toolbar>
      <div class="services-content md-whiteframe-z3" layout-sm="column" layout-align="center start" layout-align-sm="center center">
        <section layout="row" layout-sm="column" layout-align="center center">
          <md-button class="radiance-btn md-raised md-primary" ng-click="addDataSource()">
            <md-icon md-font-library="material-icons">input</md-icon>
            Data Ingestion</md-button>
          <md-button class="radiance-btn md-raised md-primary">
            <md-icon md-font-library="material-icons">insert_chart</md-icon>
            Data Analysis</md-button>
          @*<div class="label">Raised</div>*@
        </section>
      </div>
    </section>
      </md-content>
    </div>

}