@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en" ng-app="RadianceApp">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-material.css"))'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-mfizz-1.2/font-mfizz.css")">
        <meta name="viewport" content="initial-scale=1" />
    </head>
    <body layout="column" ng-controller="RadianceCtrl">

        <md-content layout="column" layout-fill>

            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <span class="radiance-logo-container md-flex md-whiteframe-z1" layout="column" layout-align="center center"><img class="radiance-logo" src="@routes.Assets.versioned("images/Sigmoidlogo.png")"></span>
                    <span class="md-flex"></span>
                </div>
            </md-toolbar>

            <md-content layout="column" layout-fill>

            @content

            </md-content>
        </md-content>

            <!-- Angular Material Dependencies -->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-aria.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-material.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-material-icons.min.js"))'></script>
        <script src="@routes.Assets.versioned("javascripts/app/app.js")" type="text/javascript"></script>
    </body>
</html>